
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/media/logo.png">
    <title>{% block title %}SCG POS - Punto de Venta{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" src="{% static '/jquery-ui-1.13.2.custom/jquery-ui.css' %}">
</head>
<body onload="mueveReloj()">
    {% block content %}
    {% endblock content %}

    </div>
</body>
<script src="{% static 'jquery-3.6.4.js' %}"></script>
<script src="{% static 'pos.js' %}"></script>
<script src="{% static 'pagar.js' %}"></script>

<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>  
<script src="{% static '/jquery-ui-1.13.2.custom/jquery-ui.js' %}"></script>
<script src="{% static '/node_modules/onscan.js/onscan.min.js' %}"></script>

</html>